<header>
    <!-- <nav id="navigation" class="navbar">
        <div  class="navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item"><a><img src="https://i.pinimg.com/originals/b5/b9/1a/b5b91ac7e2c6787260adfef627c24313.png" alt="Dragon Ball Z Logo" height="60"></a></li>
                <li class="nav-item"><a href="/">Home</a></li>
                <li class="nav-item"><a href="/characters">Characters</a></li>
                <li class="nav-item"><a href="/cards">Cards</a></li>
            </ul>
        </div>
    </nav> -->
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand d-block d-lg-none" href="/">
            <img src="https://i.pinimg.com/originals/b5/b9/1a/b5b91ac7e2c6787260adfef627c24313.png" alt="Dragon Ball Z Logo" height="60" class="d-inline-block align-top">
        </a>        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/characters">Characters</a>
                </li>
                <li class="d-none d-lg-block">
                    <a class="navbar-brand" href="/">
                        <img src="https://i.pinimg.com/originals/b5/b9/1a/b5b91ac7e2c6787260adfef627c24313.png" alt="Dragon Ball Z Logo" height="60" class="d-inline-block align-top">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cards">Cards</a>
                </li>
            </ul>
        </div>
    </nav>
</header>