{% extends "index.html.twig" %}

{% block body %}
    <!--gives instructions to the user-->
    <div id="cards-instructions">{{ instructions }}</div>  
    <div>
        <br>
        <button id="start-button" class="button start-button">Click here to start a random game!</button>
    </div>
    <!--buttons that are used in the game-->
    <button id="battle-button" class="button result-button"></button>
    <button id="invalid-button" class="button result-button"></button>
    <button id="result-button" class="button result-button"></button>

    <div class="row justify-content-between" style="padding: 0 75px;">
        <div id="counters" class="counters w-100 justify-content-between">
            <!--displays the amount in each deck-->
            <div class="text-left col-5 position-relative"><div id="user-counter" class="counter"></div></div>
            <div class="text-left col-5 position-relative"><div id="opponent-counter" class="counter"></div></div>
        </div>
        <!--creates a card for every fighter in database-->
        {% for fighter in fighters %}
        {% include "partials/utils/card.html" with {'fighter' : fighter} %}
        {% endfor %}
    </div>
    <!--passes the database into a json file so it can be accessed in the js file-->
    <script> 
        var fightersObj = {{fighters|json_encode|raw}};
    </script>
{% endblock %}

{% block javascript %}
    <!--links the card.js file for to make interactive-->
    <script type="text/javascript" src="javascript/cards.js"></script>
{% endblock %}