{% extends "index.html.twig" %}

{% block body %}
    <div>
        <button id="start-button" class="button start-button">Click here to start a random game!</button>
    </div>
    <div class="row">
        <div class="col-1"></div>
        {% for fighter in fighters %}
        <div class="col-5">
            <div id="card-{{ fighter.id }}" class="card">
                <div class="card-header"><h3 class="card-header-text">{{ fighter.name }}</h3></div>
                <div class="card-img" style="{{ fighter.img is defined ? 'background-image: url(' ~ fighter.img ~ ');' : ''}}">
                </div>
                <div class="card-body">
                    <div class="col-6"><p class="card-body-description">{{ fighter.description }}</p></div>
                    <div class="col-6">
                        {% for attribute in fighter.attributes %}
                        <div id="{{ attribute.name }}-{{ fighter.id }}" class="card-body-text" attribute-name="{{ attribute.name }}" attribute-value="{{ attribute.value }}" attribute-id="{{ fighter.id }}">
                            <p class="card-body-title">{{ attribute.name }} </p>
                            <h3 class="card-body-item">{{ attribute.value }}</h3>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="col-1"></div>
    </div>

    <div>
        <button id="result-button" class="button result-button"></button>
    </div>

    <script> 
        var fightersObj = {{fighters|json_encode|raw}};
    </script>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="javascript/cards.js"></script>
{% endblock %}