@font-face {
    font-family: 'Merienda One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Merienda One'), local('MeriendaOne-Regular'), url(https://fonts.gstatic.com/s/meriendaone/v10/H4cgBXaMndbflEq6kyZ1ht6ohYaz.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

.counters {
    display: none;
    font-weight: bold;
}

.card {
    position: absolute;
    display: none;
    background-image: url("https://static.vecteezy.com/system/resources/previews/000/639/222/non_2x/abstract-sun-burst-contrast-orange-blue-colors-background-you-can-use-for-hot-sales-promotion-versus-fight-ad-poster-cover-design-vector.jpg");
    background-position: top center;
    background-size: cover;
    margin-bottom: 10px;
    height: 750px;
    flex-grow: 1;
    z-index: 5;
    top: 0;
    left: 0;
    .card-header {
        height: 50px;
        .card-header-text {
            color: blue;
            font : {
                size: 1.5rem;
                weight: bold;
            }
        }
    }
    .card-img{
        height: 300px;
        background-position: top center;
        background-size: cover;
    }
    .card-body {
        display: inline-flex;
        padding: 15px 10px;
        .card-body-description {
            background-color: rgba(255, 100, 255, 0.3);
            background-position: top center;
            background-size: cover;
            color: #111;
            border: 2px solid #333;
            border-radius: 5px;
            font-size: 1.05rem;
        }
        .opponent-attributes {
            display: none;
        }
        .card-body-text {
            background-color: rgba(255, 255, 255, 0.3);
            color: #333;
            border: 2px solid #333;
            border-radius: 5px;
            display: inline-flex;
            width: 100%;
            justify-content: space-between;
            margin-bottom: 5px;
            cursor: pointer;
            .card-body-title {
                text-align: left;
                font-size: 1rem;
            }
            .card-body-item {
                font-family: 'Merienda One';
                color: red;
                margin: 5px;
                text-align: right;
                font-size: 1.25rem;
            }
        }
    }
}

.result-button {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);
    font-size: 2rem;
    width: 300px;
    margin: 20px auto;
    background-color: $textPurple;
    color: $solidOrange;
    border-radius: 5px;
    border: none;
    cursor:  pointer;
    z-index: 8;
}

.start-button {
    display: inline-block;
    margin: 0 auto;
    background-color: $textPurple;
    color: $solidOrange;
    border-radius: 5px;
    border: none;
    cursor:  pointer;
}