@mixin transform-style($style){
    transform-style: $style;
   -moz-transform-style: $style;
   -o-transform-style: $style;
   -ms-transform-style: $style;
   -webkit-transform-style: $style;
 }

 @mixin transition($time){
    transition: $time;
    -webkit-transition: $time;
    -moz-transition: $time;
    -o-transition: $time;
  }

  @mixin transform($transformation) {
    transform: $transformation;
    -webkit-transform: $transformation;
    -moz-transform: $transformation;
    -ms-transform: $transformation;
    -o-transform: $transformation;
  }

  @mixin backface-visibility($visibility: hidden) {
    backface-visibility: $visibility;
    -webkit-backface-visibility: $visibility;
    -moz-backface-visibility: $visibility;
    -ms-backface-visibility: $visibility;
    -o-backface-visibility: $visibility;
  }

.boxes-container {
    flex: 1 1 100%;
    margin-bottom: 20px;
    min-height: 200px;
    display: inline-block;
    .character-sheet{
        height: 100%;
        margin-bottom: 625px;
        @include transform-style(preserve-3d);
        @include transition(0.9s);
        &:hover{
            @include transform (rotatey(-180deg));  
        }
        .boxes__name {
            background-color: $solidOrange;
            width: 130px;
            margin: 0 auto;
            border-radius: 0 0 5px 5px;
        }	
        .front, .back {
            height: 100%;
            width: 100%;
            border-radius: 5px;
            box-shadow: 4px 5px 6px 3px rgba(0, 0, 0, 0.22);
            position: absolute;
            @include backface-visibility();
        }
        .front {
            background-position: top center;
            background-size: cover; 
        }
        .back {
            @include transform(rotatey(-180deg));
            background-image: url('https://5.imimg.com/data5/JB/EM/MY-11791301/parchment-paper-500x500.jpg');
            overflow-y: scroll;
            height: 100%;
            width: 100%;
            padding: 15px;
            text-align: left;
        }
    }
}
