.intro {
    margin: 0 auto;
    .intro-text {
        width: 85%;
        margin: 0 auto;
        text-align: justify;
        h2 {
            text-align: center;
        }
        ul {
            text-align: center;
            li {
                display: inline-block;
                list-style: none;
                flex-wrap: wrap;
            }
        }
    }
}
.intro-slideshow {
    margin-top: 50px;
}
