#intro {
    margin: 0 auto;
    background-color: $fadedOrange;
    color: $textPurple;
    #intro-text {
        width: 85%;
        margin: 0 auto;
        li {
            display: inline-block;
            list-style: none;
            flex-wrap: wrap;
        }
    }
}
#slideshow {
    margin: 0 auto;
    padding-top: 50px;
    background-color: $fadedOrange;
    color: $textPurple;
    justify-content: center;
}
