@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

$font-family: 'Montserrat', sans-serif;
$font-default: 400;
$font-bold: 600;

$solidOrange: rgb(255, 140, 26);
$solidPurple: rgb(102, 0, 255);
$fadedOrange: rgba(255, 174, 81, 1);
$textPurple: rgb(101, 0, 234);