@font-face {
  font-family: 'Crimson Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/crimsonpro/v7/q5uUsoa5M_tv7IihmnkabC5XiXCAlXGks1WZzm1MP5s-.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Noto Serif"), local("NotoSerif"), url(https://fonts.gstatic.com/s/notoserif/v8/ga6Iaw1J5X9T9RW6j9bNfFcWaA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

body {
  background-image: url("https://i.pinimg.com/originals/c0/d1/5e/c0d15ea2e36dcbaf3da3aabe2aaf8bfa.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  font-family: 'Noto Serif', serif;
  font-size: 18px; }
  body .body-scroll {
    overflow-y: scroll;
    height: 100%; }

#intro {
  margin: 0 auto;
  background-color: #ffae51;
  color: #6500ea; }
  #intro #intro-text {
    width: 85%;
    margin: 0 auto; }
    #intro #intro-text li {
      display: inline-block;
      list-style: none;
      flex-wrap: wrap; }

#slideshow {
  margin: 0 auto;
  padding-top: 50px;
  background-color: #ffae51;
  color: #6500ea;
  justify-content: center; }

.container {
  padding-top: 130px;
  background-color: #ffae51;
  color: #6500ea; }
  .container .boxes-container {
    flex: 1 1 100%;
    margin-bottom: 20px;
    min-height: 200px;
    display: inline-block; }
    .container .boxes-container .character-sheet {
      margin-bottom: 625px;
      transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -o-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      -webkit-transform-style: preserve-3d;
      transition: 0.9s;
      -webkit-transition: 0.9s;
      -moz-transition: 0.9s;
      -o-transition: 0.9s; }
      .container .boxes-container .character-sheet:hover {
        transform: rotatey(-180deg);
        -webkit-transform: rotatey(-180deg);
        -moz-transform: rotatey(-180deg);
        -ms-transform: rotatey(-180deg);
        -o-transform: rotatey(-180deg); }
      .container .boxes-container .character-sheet .boxes__name {
        background-color: #ffae51;
        width: 130px;
        margin: 0 auto; }
      .container .boxes-container .character-sheet .front, .container .boxes-container .character-sheet .back {
        height: 600px;
        width: 350px;
        border-radius: 5px;
        position: absolute;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -o-backface-visibility: hidden; }
      .container .boxes-container .character-sheet .front {
        background-position: top center;
        background-size: cover; }
      .container .boxes-container .character-sheet .back {
        transform: rotatey(-180deg);
        -webkit-transform: rotatey(-180deg);
        -moz-transform: rotatey(-180deg);
        -ms-transform: rotatey(-180deg);
        -o-transform: rotatey(-180deg);
        background-image: url("https://5.imimg.com/data5/JB/EM/MY-11791301/parchment-paper-500x500.jpg");
        overflow-y: scroll;
        height: 600px;
        width: 340px;
        position: top; }

header {
  padding-top: 10px;
  position: fixed;
  height: 100px;
  width: 100%;
  background-color: #6600ff;
  color: #ff8c1a;
  z-index: 9;
  font-family: 'Crimson Pro', serif;
  font-weight: bold;
  font-size: 2rem; }
  header #navigation {
    border-bottom: 4px solid #ff8c1a;
    width: 100%;
    text-align: center; }
    header #navigation ul {
      width: 1000px;
      margin: auto;
      justify-content: space-between;
      display: inline-block; }
      header #navigation ul li {
        display: inline-block;
        list-style: none;
        flex-wrap: wrap;
        padding: 0 10px; }
        header #navigation ul li a {
          text-decoration: none;
          color: #ff8c1a; }

@font-face {
  font-family: 'Merienda One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Merienda One"), local("MeriendaOne-Regular"), url(https://fonts.gstatic.com/s/meriendaone/v10/H4cgBXaMndbflEq6kyZ1ht6ohYaz.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

.card {
  background-image: url("https://static.vecteezy.com/system/resources/previews/000/639/222/non_2x/abstract-sun-burst-contrast-orange-blue-colors-background-you-can-use-for-hot-sales-promotion-versus-fight-ad-poster-cover-design-vector.jpg");
  background-position: top center;
  background-size: cover;
  margin-bottom: 10px;
  max-height: 750px; }
  .card .card-header {
    height: 50px; }
    .card .card-header .card-header-text {
      color: blue;
      font-size: 1.5rem;
      font-weight: bold; }
  .card .card-img {
    height: 350px;
    background-position: top center;
    background-size: cover; }
  .card .card-body {
    display: inline-flex;
    padding: 15px 10px; }
    .card .card-body .card-body-description {
      background-color: rgba(255, 100, 255, 0.3);
      background-position: top center;
      background-size: cover;
      color: #111;
      border: 2px solid #333;
      border-radius: 5px; }
    .card .card-body .opponent-attributes {
      display: none; }
    .card .card-body .card-body-text {
      background-color: rgba(255, 255, 255, 0.3);
      color: #333;
      border: 2px solid #333;
      border-radius: 5px;
      display: inline-flex;
      width: 100%;
      justify-content: space-between;
      margin-bottom: 5px;
      cursor: pointer; }
      .card .card-body .card-body-text .card-body-title {
        text-align: left;
        font-size: 1rem; }
      .card .card-body .card-body-text .card-body-item {
        font-family: 'Merienda One';
        color: red;
        margin: 5px;
        text-align: right;
        font-size: 1.3rem; }

.cards-button {
  margin: 20px auto;
  display: none;
  background-color: #6500ea;
  color: #ff8c1a;
  border-radius: 5px;
  border: none;
  cursor: pointer; }
