header {
    padding-top: 10px;
    position: fixed;
    height: 100px;
    width: 100%;
    background-color: $solidPurple;
    color: $solidOrange;
    z-index: 9;
    font : {
        family: 'Crimson Pro', serif;
        weight: bold;
        size: 2rem;
    }
    // ul{
        //     width: 1000px;
        //     margin: auto;
        //     justify-content: space-between;
        //     display: inline-block;
        //     li {
            //         display: inline-block;
            //         list-style: none;
            //         flex-wrap: wrap;
            //         padding: 0 10px;
            //         a{
                //             text-decoration: none;
                //             color: $solidOrange;
                //         }
                //     }
                // }
            }
.navbar {
    background-color: #6600ff;
    border-bottom: 4px solid $solidOrange;
    .nav-link {
        color: #ff8c1a;
    }
}